<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">DVmobile</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a e-click="MIP$rotate" ><span class="glyphicon glyphicon-refresh"></span></a></li>
        <li><a e-click="MIP$device" e-device="iphone-5">iPhone 5</a></li>
        <li><a e-click="MIP$device" e-device="iphone-6">iPhone 6</a></li>
        <li><a e-click="MIP$device" e-device="iphone-6-plus">iPhone 6 Plus </a></li>
        <li><a e-click="MIP$device" e-device="ipad-air">iPad Air </a></li>
        <li><a e-click="MIP$device" e-device="lg-optimus">LG Optimus </a></li>
        <li><a e-click="MIP$device" e-device="samsung-s4">Samsung S4</a></li>
        <li><a e-click="MIP$device" e-device="none">Desktop</a></li>
      </ul>
    </div><!-- /.navbar-collapse  data-params='{"device":"completed"}' -->
  </div><!-- /.container-fluid -->
</nav>