/* iPhone 6 white */

.mi-iphone-6-v {
	background: url(../images/iphone6white.png) no-repeat;
	position: absolute;
	height: 1000px;
}
.mi-iphone-6-v div.phone-bg {
	width: 375px;
	max-height: 647px;
	height: 647px;
	overflow-y: hidden;
	margin: 69px;
	margin-top: 186px;
	overflow: scroll;
}

/* iPhone 6 black, Horizontal */

.mi-iphone-6-h {
	background: url(../images/iphone6black_hor.png) no-repeat;
	position: absolute;
	height: 600px;
}
.mi-iphone-6-h div.phone-bg {
	width: 667px;
	max-height: 375px;
	height: 375px;
	overflow-y: hidden;
	margin: 162px;
	margin-top: 67px;
	overflow: scroll;
}

/* iPhone 6 Plus white */

.mi-iphone-6-plus-v {
	background: url(../images/iphone6pluswhite.png) no-repeat;
	position: absolute;
	height: 1100px;
}
.mi-iphone-6-plus-v div.phone-bg {
	width: 422px;
	max-height: 712px;
	height: 712px;
	overflow-y: hidden;
	margin: 98px;
	margin-top: 183px;
	overflow: scroll;
}

/* iPhone 6 Plus white, Horizontal */

.mi-iphone-6-plus-h {
	background: url(../images/iphone6pluswhite_hor.png) no-repeat;
	position: absolute;
	height: 800px;
}
.mi-iphone-6-plus-h div.phone-bg {
	width: 737px;
	max-height: 422px;
	height: 415px;
	overflow-y: hidden;
	margin: 157px;
	margin-top: 106px;
	overflow: scroll;
}

/* iPad Air white */

.mi-ipad-air-v {
	background: url(../images/ipad_air_white.png) no-repeat;
	position: absolute;
	height: 1200px;
}
.mi-ipad-air-v div.phone-bg {
	width: 660px;
	max-height: 875px;
	height: 875px;
	overflow-y: hidden;
	margin: 200px;
	margin-top: 201px;
	overflow: scroll;
}

/* iPad Air white, Horizontal */

.mi-ipad-air-h {
	background: url(../images/ipad_air_white_h.png) no-repeat;
	position: absolute;
	height: 1000px;
}
.mi-ipad-air-h div.phone-bg {
	width: 875px;
	max-height: 657px;
	height: 657px;
	overflow-y: hidden;
	margin: 187px;
	margin-top: 130px;
	overflow: scroll;
}

/* iPhone 5,  */

.mi-iphone-5-v {
	background: url(../images/iphone5black_v.png) no-repeat;
	position: absolute;
	height: 800px;
}
.mi-iphone-5-v div.phone-bg {
	width: 277px;
	max-height: 475px;
	height: 475px;
	overflow-y: hidden;
	margin: 100px;
	margin-top: 175px;
	overflow: scroll;
}

/* iPhone 5, Horizontal  */

.mi-iphone-5-h {
	background: url(../images/iphone5black_h.png) no-repeat;
	position: absolute;
	height: 500px;
}
.mi-iphone-5-h div.phone-bg {
	width: 490px;
	max-height: 277px;
	height: 277px;
	overflow-y: hidden;
	margin: 160px;
	margin-top: 94px;
	overflow: scroll;
}

/* LG Optimus One p500  */

.mi-lg-optimus-v {
	background: url(../images/lg_optimus_one_p500_yellowcase.png) no-repeat;
	position: absolute;
	height: 900px;
}
.mi-lg-optimus-v div.phone-bg {
	width: 295px;
	max-height: 414px;
	height: 414px;
	overflow-y: hidden;
	margin: 128px;
	margin-top: 203px;
	overflow: scroll;
}

/* Samsung S4  */

.mi-samsung-s4-v {
	background: url(../images/samsung-s4-v.png) no-repeat;
	position: absolute;
	height: 1100px;
}
.mi-samsung-s4-v div.phone-bg {
	width: 408px;
	max-height: 685px;
	height: 685px;
	overflow-y: hidden;
	margin: 114px;
	margin-top: 208px;
	overflow: scroll;
}